# Ignore local tools used for maintenance but not intended for the repo
/tools/add_header.py

# Byte-compiled / cache
__pycache__/
*.pyc

# Ignore temporary compare files
README_remote.md
README_HEAD.md
